.tasks {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}

.task {
    background-color: yellow;

    line-height: 30px;
    
    height: 200px;
    width: 20vw;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    overflow: auto;

}
.task:hover {
    transform: scale(1.025);
}

.task p {
    text-align: justify;
}

.taskHeader {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;


}
.taskBtns {
 display: flex;
 gap: 5px;
}

.completeTask {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: none;
    background-color: green;
    cursor: pointer;
}
.completeTask:active {
    background-color: rgb(38, 238, 38);

}
.deleteTask {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: 2px solid red;
    background-color: red;
    cursor: pointer;

}
main {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    background-color: rgb(87, 85, 85);
    width: 85vw;
    height: 100vh;
    overflow: auto;

}

main h1 {
   text-align: center;
   
}
   
     

@media screen and (max-width: 900px) {
    .tasks {
        grid-template-columns: repeat(2, 1fr)
    }
    .task {
        height: 200px;
        width: 220px;
    }
}


@media screen and (max-width: 800px) {
    .tasks {
        grid-template-columns: 1fr
    }
    .task {
        height: 200px;
        width: 300px;
    }
}